@model OnlineStudyApplication.Models.Study

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Study</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChapterName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChapterName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChapterDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChapterDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileUpload)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileUpload)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Course.CourseName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
